<div class="col-6">
    <form ng-submit="getTotal()">
        <table class="meal-details">
            <th>Enter the meal details</th>
            <tr>
                <td>
                    <p>Base meal price: $
                        <input type="number" ng-model="$root.price" name="price" required> </p>
                    <p>Tax Rate: %
                        <input type="number" ng-model="$root.tax" name="tax" required>
                    </p>
                    <p>Tip percentage: %
                        <input type="number" ng-model="$root.tip" name="tip" required>
                    </p>
                </td>
            </tr>
        </table>
        <br>
        <a href="#/myearnings" class="submit">Submit</a>
        <!-- <button class="submit">Submit</button> -->
        <!-- <button class="submit">Cancel</button> -->
    </form>
</div>
<div class="col-6">
    <table class="calc">
        <th>Customer Charges</th>
        <tr>
            <td>
                <p>Subtotal: {{ $root.price }} </p>
                <p>Tip: {{ $root.tip }} </p>
                <p>Total: {{ $root.total | number:2}}</p>
            </td>
        </tr>
    </table>
</div>
